// Global styles
// $primary-color: #38a169;
// $hover-color: #68d391; // Lighter green for hover effect
$primary-color: #4f46e5;
$hover-color: #4b42f4cb;// Green color
$font-family: "Arial", sans-serif;