.footer {
  background-color: $primary-color;
  color: #ffffff;
  padding: 2rem 1rem;
  font-family: "Segoe UI", sans-serif;
  //     position: fixed;
  //     // top: 0;
  //   bottom: 0;
  //   right: 0;
  //   left: 0;
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    .footer-section {
      flex: 1 1 250px;

      h3,
      h4 {
        margin-bottom: 1rem;
        color: #f1faee;
      }

      p,
      a {
        font-size: 0.95rem;
        color: #d1d1d1;
        line-height: 1.6;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 0.5rem;

          a {
            text-decoration: none;
            color: #a8dadc;
            transition: color 0.3s;

            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    padding-top: 1.5rem;
    margin-top: 2rem;
    border-top: 1px solid #457b9d;
    font-size: 0.9rem;
    color: #ccc;
   
  }
}
.footer-links{
  display: flex;
  gap: 20px;
  padding-top: 35px;
  // margin-left: 0%;
}

// 📱 Responsiv dizayn
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-section {
    width: 100%;
  }

  .footer-bottom {
    font-size: 0.8rem;
  }
}
