.banner-section {
  // background-image: url("https://media.tacdn.com/media/attractions-splice-spp-674x446/07/b7/3e/96.jpg"); // o'zing tanlagan rasm yo'lini yoz
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;

  .overlay {
    background-color: rgba(0, 80, 60, 0.6);
    padding: 2rem;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    max-width: 600px;
    width: 90%;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .cta-button {
    background-color: #00cc88;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    transition: background 0.3s;

    &:hover {
      background-color: #009966;
    }
  }
}
