.news {
//   background-color: #f9fbfd;
  padding: 1.5rem;
  border-radius: 12px;
   box-shadow:4px 3px 3px 5px rgba(0, 0, 0, 0.05);
  // box-shadow: 2px 12px 12px 18px rgba(0, 0, 0, 0.05);;
  transition: all 0.3s ease;
  width: 100%;
  animation: fadeIn 0.6s ease-in;
  &:hover {
    transform: translateY(-5px);
    // background: #eef3ff;  
    width: 102%;
  }
  .news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 40px;
      font-weight: 700;
      margin: 0;
       @media screen and (max-width: 400px) {
      font-size: 30px;
    }
    }

    .arrow {
      font-size: 1.2rem;
      color: #007bff;
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: translateX(4px);
      }
    }
  }

  .news-list {
    list-style: none;
    padding: 0;
    margin-top: 1rem;

    .news-item {
      padding: 0.8rem 0;
      border-bottom: 1px solid #e2e6ea;

      .news-date {
        font-size: 0.85rem;
        // color: #888;
      }

      .news-title {
        font-size: 1rem;
        font-weight: 600;
        // color: #333;
        margin-top: 0.3rem;
        transition: color 0.2s ease;

        &:hover {
          color: #0056b3;
        }
      }
    }
  }
}
