.darsliklar-container {
  margin: 0 auto;
  margin-top: 50px;
  padding: 2rem;
  font-family: "Segoe UI", sans-serif;
  // color: #333;

  .title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: bold;
    color: $primary-color;
  }

  .grade-schedule {
    margin-bottom: 4rem;
    padding: 1.5rem;
    border-radius: 16px;
    // background: #f0f4f3
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;

    h2 {
      text-align: center;
      font-size: 2rem;
      color: $primary-color;
      margin-bottom: 1.5rem;
    }

    .week-days {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 1.5rem;

      .day-block {
        border-radius: 12px;
        padding: 1rem 1.5rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        transition: transform 0.3s ease;

        &:hover {
          transform: translateY(-5px);
        }

        h3 {
          color: $primary-color;
          font-size: 1.3rem;
          margin-bottom: 0.5rem;
          border-bottom: 2px solid #81c784;
          padding-bottom: 0.4rem;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            padding: 0.3rem 0;
            border-bottom: 1px dashed #c8e6c9;
            display: inline-block;
            color: $primary-color;

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
.lesson-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-left: 20px;
  list-style-type: disc;

  li {
    margin-bottom: 4px;
  }
}

/* Responsivlik */
@media (max-width: 768px) {
  .darsliklar-container {
    padding: 1rem;

    .title {
      font-size: 2rem;
    }

    .grade-schedule {
      padding: 1rem;
    }

    .week-days {
      grid-template-columns: 1fr;
    }
  }
}
